/* Общие стили для body */
html,
body {
  margin-top: 80px;
  margin-bottom: 120px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.main-content {
  flex: 1 0 auto;
}

.content {
  flex-grow: 1;
  margin-bottom: 20px;
}

/* Общие стили для div */
div {
  box-sizing: border-box;
  margin: 20;
  padding: 20;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Стили для кнопок */
button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #070707;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 1),
    0 0px 4px rgba(255, 255, 255, 0.5), 0 0px 30px rgba(255, 255, 255, 0.5);
  width: 200px;
  height: 200px;
  background-repeat: round;
}

button:hover {
  width: 250px;
  height: 250px;
}

.btn_r {
  background-image: url(/images/rock.jpg);
}

.btn_s {
  background-image: url(/images/scissors.jpg);
}

.btn_p {
  background-image: url(/images/paper.jpg);
}

.btn_close_game {
  background-image: url(/images/close.jpg);
}

#PvC {
  width: 300px;
  height: 300px;
  background-image: url(/images/pvc.jpg);
  background-repeat: round;
}

#PvP {
  width: 300px;
  height: 300px;
  background-image: url(/images/pvp.jpg);
  background-repeat: round;
}

/* Стили для input */
input,
textarea,
select,
option {
  margin: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  text-align: center;
  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 1),
    0 0px 4px rgba(255, 255, 255, 0.5), 0 0px 30px rgba(255, 255, 255, 0.5);
}

input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
  background-color: #e6e6e6;
}

/* Table */
table {
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 100%;
  width: 90%;
}

table,
th,
td {
  border: 1px solid #dcdcdc;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #59544f;
  color: #fff;
  font-weight: bold;
}

p {
  margin: 5px;
  padding: 0;
}

/* Headings */
h1,
h2,
h3,
h4 {
  margin: 10px;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* Стили для мобильной версии */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  div {
    flex-direction: column;
  }
}

/* Стили для десктопной версии */
@media (min-width: 601px) {
  body {
    font-size: 18px;
  }

  div {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.selected {
  transition: all 0.5s ease-in-out;
}

.selected:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.block {
  margin-top: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
  background-color: #070707;
  color: #fff;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 99;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #070707;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 100;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1rem;
  height: 100px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 0, 55);
  color: #fff;
  text-align: center;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.footer-container {
  padding: 5px;
  display: block;
}

footer:hover {
  height: 120px;
  transform: scale(1.1);
  background-color: rgb(32, 129, 226);
}

header {
  z-index: 1000;
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px #07070766;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.back-btn:hover {
  transform: scale(1.1);
}

.arrow-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #070707;
}
