/* Общие стили для body */
html,
body {
  margin-bottom: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

.content {
  flex-grow: 1;
  margin-bottom: 20px;
}

/* Общие стили для div */
div {
  box-sizing: border-box;
  margin: 20;
  padding: 20;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Стили для кнопок */
button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007aff;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
}

button:hover {
  background-color: #0056b3;
}

/* Стили для input */
input,
textarea,
select,
option {
  margin: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
}

input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
  background-color: #e6e6e6;
}

/* Table */
table {
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 100%;
  width: 90%;
}

table,
th,
td {
  border: 1px solid #dcdcdc;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007aff;
  color: #fff;
  font-weight: bold;
}

/* Paragraph */
p {
  margin: 10px;
  padding: 0;
}

/* Headings */
h1,
h2,
h3,
h4 {
  margin: 10px;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* Стили для мобильной версии */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  div {
    flex-direction: column;
  }
}

/* Стили для десктопной версии */
@media (min-width: 601px) {
  body {
    font-size: 18px;
  }

  div {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.selected:hover {
  cursor: pointer;
  background: linear-gradient(to top left, #007aff10, #ffffff);
}

.block {
  margin-top: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05),
    0 12px 24px rgba(0, 0, 0, 0.05);
  background: linear-gradient(to bottom right, #007aff10, #ffffff);
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 999;
}

.loader {
  border: 8px solid #f3f3f3; /* серый цвет рамки */
  border-top: 8px solid #3498db; /* синий цвет верхней рамки, чтобы создать эффект вращения */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  height: 100px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  z-index: 100;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

.footer-container {
  padding: 20px;
}

footer:hover {
  opacity: 1;
}
